.container {
  @apply py-8 px-8;
  @apply bg-[#38137F];
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 2.5px transparent;
  border-radius: 1rem;
  min-height: 180px;
  height: 180px;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: -2.5px;
  border-radius: inherit;
  background: linear-gradient(to right, #F762DA 100%, #A105FF 100%);
}

.content {
    @apply flex flex-col gap-2 items-center justify-center;
}

.content_title {
    @apply rounded-lg px-6 py-1;
    @apply lato-20;
}

.content_body{
    @apply text-center lato-bold-24;
}